%btn {
	display: inline-block;
	color: #fff;
	padding: 5px 50px;
	text-align: center;
	transition:
		color 0.2s ease,
		background-color 0.2s ease,
		border 0.2s ease;

	&:hover {
		color: #000;
		background-color: #fff;
		text-decoration: none;
	}

	a {
		color: inherit;
		transition: color 0.2s ease;
	}
}

.btn-outline {
	@extend %btn;
	background-color: clear;
	border: 1px solid #fff;
}

.btn-black {
	@extend %btn;
	background-color: #000;
}
