@use "../abstracts/mixins" as m;

%base {
  width: 75%;

  @include m.media-breakpoint-up(md) {
    width: 50%;
  }

  @include m.media-breakpoint-up(lg) {
    width: 25%;
  }
}
.choctaw-logo {
  &--black {
    @extend %base;
    margin-bottom: 5rem;
  }

  &--white {
    @extend %base;
  }
}
