@use "../abstracts/mixins" as m;
@use "./abstract";

.giveaway {
  @extend %section;

  &__background {
    position: relative;
    height: 400px;

    @include m.media-breakpoint-up(md) {
      height: 600px;
    }

    @include m.media-breakpoint-up(lg) {
      height: 800px;
    }

    &--image {
      position: absolute;
      background-image: url("../img/oct-2023/mercedes.png?as=webp");
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;
      inset: 0;

      @include m.media-breakpoint-up(xxl) {
        background-position-y: 30%;
      }
    }

    &--overlay {
      position: absolute;
      inset: 0;
      z-index: 2;
      background-image: linear-gradient(to top, black 20%, transparent 50%);

      @include m.media-breakpoint-up(lg) {
        background-image: linear-gradient(to top, black 10%, transparent 40%);
      }
    }
  }

  &__headline {
    font-size: 1.25rem;
    letter-spacing: 0.5rem;

    @include m.media-breakpoint-up(lg) {
      font-size: 3rem;
      letter-spacing: 1rem;
    }

    &--svg {
      width: 40%;

      @include m.media-breakpoint-up(lg) {
        width: 20%;
      }
    }
  }

  &__content {
    z-index: 3;
    padding-bottom: 2rem;
    text-shadow: 1px 1px rgb(0, 0, 0, 0.35);
    margin-top: 0rem;

    @include m.media-breakpoint-up(md) {
      margin-top: -3rem;
    }
  }
}
