@use "../abstracts/mixins" as m;
@use "./abstract";

.header {
  @extend %section;

  .logo--black {
    max-width: 54rem;
    width: 60vw;
    max-height: 23rem;
  }

  &__image {
    max-height: 30rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__subheadline {
    font-weight: 600;
    font-size: 2.4rem;
  }
}
