@use "../abstracts/mixins" as m;
@use "./abstract";

.header {
  @extend %section;
  background-image: url("../img/bg/header-bg.png?as=webp");

  .row {
    min-height: 400px;

    @include m.media-breakpoint-up(lg) {
      min-height: 700px;
    }
  }

  &__img {
    &#onyx-renewal {
      width: 80%;
      margin: 6.25rem auto;

      @include m.media-breakpoint-up(lg) {
        width: 60%;
      }
    }
  }
}
