@use "../abstracts/mixins" as m;
@use "./abstract";

.header {
  @extend %section;

  .logo--black {
    max-width: 54rem;
    width: 60vw;
    max-height: 23rem;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    max-height: 15rem;
    object-position: center center;

    @include m.media-breakpoint-up(md) {
      max-height: 30rem;
    }

    @include m.media-breakpoint-up(xxl) {
      object-position: center 45%;
      max-height: 40rem;
    }
  }

  &__subheadline {
    font-weight: 600;
    font-size: 2.4rem;
  }
}
