@use "../abstracts/mixins" as m;
@use "./abstract";

.hero {
  @extend %section;

  @include m.media-breakpoint-up(lg) {
    background-image: url("../img/oct-2023/hero-bg.png?as=webp&width=1200");
    background-position: 20%;
    min-height: 700px;
  }

  @include m.media-breakpoint-up(xxl) {
    background-image: url("../img/oct-2023/hero-bg.png?as=webp");
  }

  &__c-icon {
    margin-top: 100px;
    margin-bottom: 25px;
  }
}
