@use "./abstracts/variables" as v;

:root {
  --font-gill-sans: #{v.$font-gill-sans};
  --font-serif: #{v.$font-serif};
}

.left-0 {
  left: 0;
}

.font-body {
  font-family: var(--font-gill-sans);
}

.font-serif {
  font-family: var(--font-serif);
}
