@use "./abstracts/mixins" as m;

body {
  letter-spacing: 5px;
  text-wrap: pretty;
}

%headings {
  line-height: 50px;
  margin: 50px 0;
}

h2 {
  @extend %headings;
}

h3 {
  @extend %headings;
}

p {
  line-height: 45px;
  margin: 50px 0;
}
