<style>
	.details-grid {
		grid-template-columns: auto 1fr auto;
		grid-template-rows: repeat(3, 1fr);
	}
	.details-grid-cell {
		display: contents;
	}
</style>
<ul class='list-unstyled font-serif fst-italic details-grid mb-0 d-grid'>
	<li class='details-grid-cell'>
		<span class='px-3 text-end'>May 24 &amp; 31</span>
		<span>|</span>
		<span class='px-3 text-end'>
			<span class='fw-medium fst-normal font-body ms-auto'>7PM</span> to
			<span class='fw-medium fst-normal font-body'>11PM</span>
		</span>
	</li>
	<li class='details-grid-cell'>
		<span class='px-3 text-end'>May 25 &amp; June 1</span>
		<span>|</span>
		<span class='px-3 text-end'>
			<span class='fw-medium fst-normal font-body ms-auto'>2PM</span> to
			<span class='fw-medium fst-normal font-body'>11PM</span>
		</span>
	</li>
	<li class='details-grid-cell'>
		<span class='px-3 text-end'>May 26 &amp; June 2</span>
		<span>|</span>
		<span class='px-3 text-end'>
			<span class='fw-medium fst-normal font-body ms-auto'>11AM</span>
			to
			<span class='fw-medium fst-normal font-body'>7PM</span>
		</span>
	</li>
</ul>
