YAKOKE <span class='fst-italic'>(THANK YOU)</span> FOR BEING AN ONYX GUEST WITH CHOCTAW
CASINOS & RESORTS! AS ONE OF OUR MOST VALUED GUESTS, YOUR PATRONAGE AND LOYALTY TO
OUR BUSINESS IS INVALUABLE TO OUR CONTINUED GROWTH AND SUCCESS. TO SHOW OUR APPRECIATION,
WE INVITE YOU TO JOIN US FOR AN EXCLUSIVE GIFTING EVENT. YOU WILL HAVE THE OPTION
TO SELECT FROM 50+ GIFTS, INCLUDING HOUSEWARES, SPA/FITNESS, ELECTRONICS, OUTDOOR
ACCESSORIES AND JEWELRY.
