---
import { Image } from 'astro:assets';
import finalBG from '../assets/final-bg.png';
import blackLogo from '../assets/logo-choctaw-casino-and-resorts-black-horizontal.svg';
import blackOnyxGift from '../assets/onyx-gift--black.svg';
---

<style>
    #final-cta {
        margin-top: -1rem;
    }
</style>
<section
    class='text-white position-relative py-5 z-2'
    id='final-cta'>
    <Image
        src={finalBG}
        alt=''
        aria-hidden='true'
        class='position-absolute object-fit-cover top-0 start-0 w-100 h-100'
    />
    <div class='container position-relative z-1 py-5'>
        <div class='row justify-content-center'>
            <div
                class='col-10 col-lg-8 d-flex flex-column justify-content-center align-items-center texet-center text-uppercase text-black'>
                <hr class='w-25 opacity-100 border-black' />
                <h2 class='fs-5 my-4 text-center'>Reserve your Stay today</h2>
                <hr class='w-25 opacity-100 border-black' />
                <p class='fw-bold mb-5 text-center'>
                    Contact your executive host today
                </p>
            </div>
        </div>
        <div class='row justify-content-center'>
            <div class='col-6 d-flex flex-column'>
                <Image
                    src={blackOnyxGift}
                    alt='Onyx Gift Event'
                    class='object-fit-contain w-75 h-75 mx-auto my-5'
                />
                <Image
                    src={blackLogo}
                    alt='Choctaw Casinos & Resorts'
                    class='my-5'
                />
            </div>
        </div>
    </div>
</section>
