---
import { Image } from 'astro:assets';
import heroBG from '../assets/base/hero.jpg';
import choctawCLogo from '../assets/shared/choctaw-c.svg';
import HeroWelcomeMessage from '../components/HeroWelcomeMessage.astro';
import EliteHeroWelcomeMessage from '../components/EliteHeroWelcomeMessage.astro';
const isElite = import.meta.env.IS_ELITE;
---

<style>
	#hero {
		background-image: linear-gradient(
			to right,
			transparent 20%,
			rgba(black, 0.9)
		);
	}
	#choctaw-c {
		transform: translateX(-10%);
	}
</style>
<section
	class='py-5 position-relative'
	id='hero'>
	<Image
		src={heroBG}
		alt=''
		loading='eager'
		aria-hidden='true'
		class='w-100 top-0 h-100 position-absolute z-n1 left-0 object-fit-cover hero-bg'
	/>
	<div class='container my-5'>
		<div class='row justify-content-center'>
			<div
				class='col-10 col-lg-6 offset-lg-7 text-center text-white d-flex flex-column align-items-center text-uppercase row-gap-3 row-gap-lg-5'>
				<Image
					src={choctawCLogo}
					alt='Choctaw C logo'
					loading='lazy'
					class='w-25 h-25 object-fit-contain'
					id='choctaw-c'
				/>
				<hr class='border-white opacity-100 w-10' />
				<h2 class='fs-6 ls-3'>Elevate Your Expectations</h2>
				<hr class='border-white opacity-100 w-10' />
				<p class='text-white ls-2 fs-root text-uppercase lh-lg'>
					{
						isElite ? (
							<EliteHeroWelcomeMessage />
						) : (
							<HeroWelcomeMessage />
						)
					}
				</p>
				<hr class='border-white opacity-100 w-10' />
				<p class='fw-bold ls-3 mb-0'>Contact your host for details</p>
			</div>
		</div>
	</div>
</section>
