---
const { title } = Astro.props;
---

<!doctype html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>{title}</title>
        <meta
            name='viewport'
            content='initial-scale=1.0, width=device-width'
        />
        <link
            preload
            rel='stylesheet'
            href='https://use.typekit.net/too7zqy.css'
        />
    </head>

    <body class='w-100 overflow-x-hidden'>
        <slot />
    </body>
</html>
<style lang='scss' is:global>
    @use '../styles/vendors/bootstrap-custom.scss';
    @use '../styles/main.scss';
</style>
